.app {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  position: relative;
  .bg-decoration {
      position: absolute;
      right: -174px;
      bottom: -70px;
      z-index: -1;
  }
}

.char__content {
  display: flex;
}