.searchPanel {
  padding: 25px;
  color: var(--main-color);
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
  height: 25px;
  &::placeholder{
    color: var(--main-color-bg);
    opacity: .5;
  }
}
