.fromAddFriend {
  background-color: pink;
    /* grid-template-columns: 1fr 1.5fr;
    margin-bottom: 1.6rem;*/
    padding: 1.2rem; 
    display: flex;
    flex-direction: column;
    align-items: space-between;
    & input {
      margin-left: 15px;
    }
    & button {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 200px;
      align-self: flex-end;
    }
    & span {
      font-size: 1.3rem;
    }
}
